<center><font size=6 color="#00416d">K Nearest Neighbors (KNN)</font></center>

<font size=5 color="color:#290001;">Prerequisites and Basic info about KNN :</font>

To understand how KNN works, I would recommend you to watch below video first<br>
https://www.youtube.com/watch?v=R6Jcz1UNz3g

The KNN algorithm assumes that similar things exist in close proximity(distance). In other words, similar things are near to each other <br>
<img src="images\k-nearest-neighbor.png" alt="k-nearest-neighbor" style="width: 600px;"/>

<font size=5 color="color:#290001;">KNN Implementation in Scikit Learn:</font>

In [6]:
import numpy as np
import pandas as pd
# import neighbors
from sklearn import neighbors, metrics
# For splitting data for training and testing
from sklearn.model_selection import train_test_split
# Encode target labels with value between 0 and n_classes-1.
# This transformer should be used to encode target values, i.e. y, and not the input X.
from sklearn.preprocessing import LabelEncoder

In [10]:
# Loading data
car_data = pd.read_csv("datasets\car.data")
car_data.head(10)

  buying  maint  doors  persons  lug_boot  safety  class
0  vhigh  vhigh      2        2     small     low  unacc
1  vhigh  vhigh      2        2     small     med  unacc
2  vhigh  vhigh      2        2     small    high  unacc
3  vhigh  vhigh      2        2       med     low  unacc
4  vhigh  vhigh      2        2       med     med  unacc
5  vhigh  vhigh      2        2       med    high  unacc
6  vhigh  vhigh      2        2       big     low  unacc
7  vhigh  vhigh      2        2       big     med  unacc
8  vhigh  vhigh      2        2       big    high  unacc
9  vhigh  vhigh      2        4     small     low  unacc